<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
        <target name="error" xsi:type="File" fileName="C:\Dor\gdmlog\TSPError.txt" />
    <target name="log" xsi:type="File" fileName="C:\Dor\gdmlog\TSPlog.txt" />
    <target name="result" xsi:type="File" fileName="C:\Dor\gdmlog\TSPResult.txt" />
    <target name="par" xsi:type="File" fileName="C:\Dor\gdmlog\TSPPar.txt" />
    <target name="other" xsi:type="File" fileName="C:\Dor\gdmlog\TSPother.txt" />
     <target name="test" xsi:type="File"  layout="${message}" fileName="C:\Dor\gdmlod\SQL.txt"/>


  </targets>

    <rules>C:\Users\Dor\Videos\GDM-New\GDMVisualization\GDMVisualization\Resource1.resx
        <logger name="*" levels="Debug" writeTo="error" />
        <logger name="*" levels="Error" writeTo="error" />
      <logger name="TSPGDM" levels="Info" writeTo="log" />
      <logger name="*" minlevel="Trace" writeTo="other" />
      <logger name="TSP" levels="Trace" writeTo="result" />
      <logger name="TSP" levels="Info" writeTo="par" />
      <logger name="TSPSQL" levels="Info" writeTo="test" />



    </rules>
</nlog>
