<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>

    <add name="ConnectionGrandP" connectionString="Data Source=132.72.64.53;Initial Catalog=GradProject;User Id=gdm;Password=a1234;"/>
    <add name="ConnectionGroupDM" connectionString="Data Source=132.72.64.53;Initial Catalog=GDMTSP;User Id=gdm;Password=a1234;Timeout=180"/>
  
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />-->
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
