<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
        <target name="file" xsi:type="File" fileName="D:/Dor/gdmlog/GEOlog${shortdate}.txt" />
    `   <target name="error" xsi:type="File" fileName="D:/Dor/gdmlog/GEOError${shortdate}.txt" />
    `   <target name="res" xsi:type="File" fileName="D:/Dor/gdmlog/GEOresult.txt" />
    `   <target name="par" xsi:type="File" fileName="D:/Dor/gdmlog/GEOPar.txt" />
    `   <target name="sql" xsi:type="File" layout="${message}" fileName="D:/Dor/gdmlog/GEO_SQL.txt"  />


  </targets>

    <rules>
        <logger name="GEO" minlevel="Debug" writeTo="error" />
      <logger name="GEO" minlevel="Trace" writeTo="file" />
      <logger name="GEOlog" Levels="Trace" writeTo="res" />
      <logger name="GEOlog" Levels="Info" writeTo="par" />
      <logger name="GEOSQL" minlevel="Trace" writeTo="sql" />

    </rules>
</nlog>
